<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <p th:text="'Hello, ' + ${name} + '!'" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda nobis nisi, fugiat aut non sunt dolore doloremque nostrum sit aliquid, voluptatum inventore, cum obcaecati minus delectus magni. Tempora, illum.</p>
    <img th:src="@{/images/image.png}" width="600" height="600">
</body>
</html>
